h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #fdeeee;
    font-size: 3rem;
}
.container{
    width: 470px;
    height: 100px;
    background-color: rgb(238, 255, 162);
    margin: auto;
    padding: 15px;
    border-radius: 15px;
}
#screen{
    background-color: rgb(184, 233, 245);
    height: 90px;
    width: 450px;
    margin: 5px;
    font-size: 4rem;
    text-align: right;
    border-radius: 16px;
}
.button{
    background-color: rgb(251, 255, 173);
    text-decoration-color: rgb(147, 60, 60);
    width: 70px;
    height: 70px;
    font-size: 30pt;
    margin: 20px;
    border-radius: 50px;
    border-color: rgb(255, 255, 255);
}
form input.result{
    background-color: rgb(143, 255, 137);
    text-decoration-color: rgb(255, 255, 255);
    width: 160px;
    height: 40px;
    font-size: 25pt;
    margin: 30px;
    border-radius: 50px;
    border-color: rgb(178, 218, 68);
}
.background
  {
      width: 1900px;
      height: 900px;
      background-image:url(wood.jpg);
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
  }